.fcf-h3{
    color: white;
    font-size: 2.3rem;
    font-family: 'Risque', cursive;
    font-weight: 100;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fcf-label{
    text-align: left;
    font-size: 1.5rem;
}

.fcf-form-control{
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    width: 70%;
}

.fcf-btn{
    text-align: center;
    font-family: 'Risque', cursive;
    padding: 0.5rem;
    margin-top: 2rem;
    width: 70%;
}