/* CONVENTIONS */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background: linear-gradient(#70B2BC, #1970A4);
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
/* FIN CONVENTIONS */


.box1{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 8vh;
}

.me{
    width: 20%;
}

.frida1{
    width: 28%;
}

.container{
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 5vh;
}

.btn{
    border: 4px solid #E18F01;
    background: #ffa800;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Risque', cursive;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
}

.btn1, .btn2{
    color: white;
}

.btn1:hover, .btn2:hover{
    border: 4px solid white;
    color: white;
    background: #1970A4;
}

.texte{
    display: block;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white;
    font-size: 1.5rem;
}

.site-container{
    margin: 2rem auto;
    max-width: calc(100% - 80px);
}

.article-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px,1fr));
    gap: 2rem;
}

.article-image{
    border-radius: 20px 20px 0 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*RESPONSIVE IMAGES ARTICLE*/
@media(max-width: 767px){
    .article-image img{
        border-radius: 20px 20px 0 0;
        width: 100%;
    }

    .frida1{
        margin-left: 10vw;
    }

    .me{
        width: 40%;
    }

    .video{
        width: 445px;
        height: 250px;
    }
    
}

@media(max-width: 574px){
    
    .article-image img{
        border-radius: 20px 20px 0 0;
        width: 100%;
    }
}
/*FIN RESPONSIVE IMAGES ARTICLE*/

.article-card{
    background: #014A75;
    border-radius: 20px;
    transition: 0.3s;
    opacity: 95%;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.article-card:hover{
    box-shadow: 0 4px 20px 0 #003859;
    cursor: pointer;
}

.article-content{
    padding: 2rem;
}

.article-content .card-category{
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color:white;
    display: block;
    text-decoration: none;
    display: flex;
}

.article-content .card-title{
    margin: 0.5rem 0;
    color: white;
}

.article-content{
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    margin: 0;
}

@media screen and (min-width: 768px){
    .site-container{
        max-width:608px
    }
    .article-card{
        display: grid;
        grid-template-rows: 220px;
    }
}

@media screen and (min-width: 1280px){
    .site-container{
        max-width: 1156px;
    }
}

.gotopbtn{
    opacity: 50%;
    position: fixed;
    width: 50px;
    height: 50px;
    background:rgb(189, 189, 189);
    bottom: 40px;
    right: 50px;
    border-radius: 200px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    scroll-behavior: smooth;
}

/* TEST */
.image1{
    text-align: center;
}

.txtglossaire{
    margin-bottom: 2rem;
}

.bandeau{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    width: 100%;
}

.container{
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

h2, .txtglossaire{
    margin-left: 10rem;
    margin-right: 10rem;
    text-align: left;
    color: white;
    font-size: 1.25rem;
}

h2{
    font-size: 2rem;
    font-weight:bold;
    margin-bottom: 1rem;
    margin-top: 3rem;
}

@media screen and (max-width:560px){
    h2, .txtglossaire{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
    h2{
        margin-bottom: 1rem;
        margin-top: 1rem;
        font-size: 1.7rem;
    }

    .image1{
        width: 80%;
    }

    blockquote{
        font-size: 1rem;
    }
}

blockquote{
    font-size: 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white;
    font-weight: 1000;
}

.history-select{
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    margin-top: 0;
    text-align: left;
    color: white;
    font-size: 2rem;
    border: 2px solid white;
    background: #1970A4;
    padding: 5rem;
    cursor: pointer;
}

.boxtitle{
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 0;
    padding: 1rem;
    border: 2px solid white;
    background: #ffa800;
    font-size: 3rem;
    cursor: pointer;
    font-family: 'Risque', cursive;
}

.boxtitle:hover, .history-select:hover{
    background: #E18F01;
}

.boxtitle2:hover{
    background: #1970A4;
}

.boxtitle2{
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 4px solid white;
    background: #ffa800;
    font-size: 3rem;
    cursor: pointer;
    font-family: 'Risque', cursive;
    text-align: center;
}

.frize{
    text-align: center;
}

.frizeimg{
    width: 40%;
}

@media screen and (max-width:760px){
    .boxtitle{
        font-size: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .history-select{
        font-size: 1rem;
        padding: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .boxtitle2{
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .frizeimg{
        width: 65%;
    }
}