/* CONVENTIONS */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background: linear-gradient(#70B2BC, #1970A4);
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
/* FIN CONVENTIONS */


.box1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8vh;
}

.frida1{
    align-items: center;
    margin-top: -2vh;
    margin-bottom: 5vh;
    width: 28%;
}

.container{
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 5vh;
}

.btn{
    border: 4px solid #E18F01;
    background: #ffa800;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Risque', cursive;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
}

.btn1, .btn2{
    color: white;
}

.btn1:hover, .btn2:hover{
    border: 4px solid white;
    color: white;
    background: #1970A4;
}

.texte{
    display: block;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white;
    font-size: 1.5rem;
}

.site-container{
    margin: 2rem auto;
    max-width: calc(100% - 80px);
}

.article-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px,1fr));
    gap: 2rem;
}

.article-image{
    border-radius: 20px 20px 0 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*RESPONSIVE IMAGES ARTICLE*/
@media(max-width: 767px){
    .article-image img{
        border-radius: 20px 20px 0 0;
        width: 100%;
    }
    .frida1{
        margin-left: 10vw;
    }
}

@media(max-width: 574px){
    .article-image img{
        border-radius: 20px 20px 0 0;
        width: 100%;
    }
    
}
/*FIN RESPONSIVE IMAGES ARTICLE*/

.article-card{
    background: #014A75;
    border-radius: 20px;
    transition: 0.3s;
    opacity: 95%;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.article-card:hover{
    box-shadow: 0 4px 20px 0 #003859;
    cursor: pointer;
}

.article-content{
    padding: 2rem;
}

.article-content .card-category{
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 600;
    color:white;
    display: block;
    text-decoration: none;
    display: flex;
}

.article-content .card-title{
    margin: 0.5rem 0;
    color: white;
}

.article-content{
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    margin: 0;
}

@media screen and (min-width: 768px){
    .site-container{
        max-width:608px
    }
    .article-card{
        display: grid;
        grid-template-rows: 220px;
    }
}

@media screen and (min-width: 1280px){
    .site-container{
        max-width: 1156px;
    }
}

.gotopbtn{
    opacity: 50%;
    position: fixed;
    width: 50px;
    height: 50px;
    background:rgb(189, 189, 189);
    bottom: 40px;
    right: 50px;
    border-radius: 200px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    scroll-behavior: smooth;
}