/* FOOTER */
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
    background-color: red;
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
    background-color: red;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.containerf{
    max-width: 1170px;
    margin: auto;
}

footer{
    background-color: #014A75;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color:white;
    display: block;
    transition: all 0.1s ease;
}

.footer-col ul li a{
    color:white;
    padding-left: 8px;
}

.footer-col ul li a:hover{
    color: white;
    font-weight: bold;
    font-size: 1.05rem;
}

.logof{
    display: flex;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #003859;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
}

.footer-col .social-links a:hover{
    color: #003859;
    background-color: white;
}

/* RESPONSIVE FOOTER */
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
/* FIN RESPONSIVE FOOTER */
/* FIN FOOTER */